

footer.footer_section 
    background-image: url(../images/bg_footer.jpg)

.footer_menu
    padding: 40px 70px
    border-bottom: 1px solid #546067

.footer_menu_link
    a 
        font-size: 24px
        color: #fff 
        &:hover 
            color: $primary

.footer_list_wrap
    padding: 40px 70px

.footer_list
    list-style-type: none
    padding: 0
    margin: 0
    li 
        a 
            display: inline-block
            padding: 10px 0
            color: #fff 
            font-family: $text
            &:hover 
                color: $primary

.footer_line_dev
    background-color: #262E32
    padding: 20px 70px

.footer_line_dev_item
    p 
       color: #CECECE
       font-size: 12px
       a 
           color: #fff
           font-family: $text

.footer_line_dev_item_icon
    justify-content: center
    display: flex
    a 
        padding: 0 10px
        svg 
            fill: #fff
        &:hover 
            text-decoration: none
            svg 
                fill: $primary
            