
    
.masonty_wrap_item
    width: 33%
    border: 10px solid #fff
    overflow: hidden
    img 
        width: 100%
        height: auto
        transition: all 0.4s ease
    &:hover 
        img 
            transform: scale(1.5)

.masonry_articles_item
    width: 25%
    padding: 15px